/*zona superior*/

#zonaOpciones {
    overflow: hidden;
    transition: 0.2s;
    margin: 1%;
    height: 10%;
    width: 98%;
    border: 2px solid grey;
    background-color: lightgray;
    border-radius: 10px;
    position: relative;
}

#filtros {
    margin-top: 1%;
    color: black;
    background-color: white;
    border: 2px solid grey;
    max-width: 15%;
    height: 60%;
    position: relative;
    border-radius: 5px;
    padding: 0.5%;
    padding-left: 2%;
    margin-left: 2%;
}

.controlSel {
    padding: 0.5% 0%;
    border-radius: 7px;
    background-color: rgb(56, 56, 56);
    color: white;
}

#filtros2 {
    color: black;
    background-color: white;
    border: 2px solid grey;
    max-width: 30%;
    height: 60%;
    position: relative;
    border-radius: 5px;
    left: 18%;
    bottom: 60%;
    padding: 0.5%;
}

#filtros2 input {
    margin: 0% 2%;
}

#orden {
    color: black;
    background-color: white;
    border: 2px solid grey;
    max-width: 10%;
    height: 60%;
    position: relative;
    border-radius: 5px;
    left: 49%;
    bottom: 120%;
    padding: 0% 0.5%;
}

#orden input {
    margin: 0.5% 2%;
}

#fechas {
    color: black;
    background-color: white;
    border: 2px solid grey;
    max-width: 12%;
    height: 80%;
    position: relative;
    border-radius: 5px;
    left: 60%;
    bottom: 190%;
    padding: 0.2%;
}

#fechas input {
    width: 50%;
    height: 40%;
    font-size: xx-small;
    margin: 0 5%;
}

#acciones {
    max-width: 60%;
    height: 60%;
    position: relative;
    left: 73%;
    bottom: 260%;
}

#btnControl {
    width: 10%;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 1% 2%;
    height: 80%;
}

#btnControl:hover {
    border: 2px solid white;
}


/*zona inferior*/

#zonaAlarmas {
    margin: 1%;
    margin-top: 0;
    padding: 1%;
    padding-top: 0%;
    overflow-y: scroll;
    height: 100%;
    max-height: 700px;
    background-color: rgb(85, 85, 85);
    border: 2px solid rgb(56, 56, 56);
    border-radius: 10px;
}

#tablaAlarmas {
    transition: 0.5s;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

#zonaAlarmas::-webkit-scrollbar {
    height: 15px;
}

#zonaAlarmas::-webkit-scrollbar-track {
    background-color: rgb(105, 105, 105);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

#zonaAlarmas::-webkit-scrollbar-thumb {
    background-color: rgb(1, 168, 184);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}


/* .activaNo {
    transition: 0s;
    animation-duration: 2000ms;
    animation-name: alerta;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} */

.activaNo {
    color: white;
    background-color: tomato;
    /* padding: 0.5%; */
    font-size: 110%;
}

.activaSi {
    color: white;
    background-color: darkred;
}

.restNo {
    color: black;
    background-color: darkseagreen;
}

.restSi {
    color: white;
    background-color: darkolivegreen;
}

@keyframes alerta {
    from {
        background-color: tomato;
    }
    to {
        background-color: rgb(241, 68, 37);
    }
}

#tablaAlarmas tr {
    opacity: 90%;
}

#tablaAlarmas tr:hover {
    opacity: 100%;
}

#tablaAlarmas tr:first-of-type {
    border-bottom: 2px solid rgb(1, 168, 184);
    opacity: 100%;
}

#tablaAlarmas tr:first-of-type th {
    background-color: rgb(85, 85, 85);
    /* color: rgb(1, 168, 184); */
    color: whitesmoke;
    padding: 0.1%;
    font-size: 110%;
}

#tablaAlarmas tr:first-of-type th:hover {
    color: white;
    background-color: rgb(1, 168, 184);
}

table tr td i {
    opacity: 10%;
}

table tr td i:hover {
    opacity: 100%;
}