#menu{
    text-align: center;
    position: fixed;
    color: black;
    top: 15%;
    left: 30%;
    width: 50%;
    height: 70%;
    padding: 1.5% 3%;
    border-radius: 10px;
    background-color: lightgrey;
}


#menu button{
    border: none;
    background-color: transparent;
}

#menu button:hover{
    color: rgb(1, 168, 184);
}


#cafeResul{
    padding: 0.5% 2%;
    text-align: left;
    width: 90%;
    margin: 0% 5%;
    background-color: white;
    border-radius: 10px;
    height: 60%;
}

#total{
    text-align: left;
    font-size: 150%;
    width: 90%;
    margin: 2% 5%;
}