#displayComs {
    transition: 0.5s;
    width: 98%;
    margin: 0 1%;
    height: 70%;
    background-color: gray;
    text-align: center;
    border-radius: 10px;
    border: 5px solid darkgray;
    overflow-y: scroll;
}

#displayComs::-webkit-scrollbar {
    height: 15px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    background-color: rgb(85, 85, 85);
}
#displayComs::-webkit-scrollbar-thumb {
    background-color: rgb(1, 168, 184);
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

#displayComs tr {
    color: white;
    transition: 0.2s;
    margin-bottom: 5%;
    font-size: 130%;
}

#displayComs tr td:first-of-type {
    padding-left: 5%;
    text-align: left;
}

#displayComs tr:hover {
    background-color: rgb(1, 168, 184);
    color: white;
}

.comsSelec {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}

#secEstado {
    color: greenyellow;
    font-size: 150%;
    opacity: 100%;
}


/* error 1 */

#seccionEstacionProblema {
    padding: 1% 5%;
    transition: 0.2s;
}

#secProblema {
    color: yellow;
    font-size: 150%;
}

.alerta {
    transition: opacity 0.5s ease-in-out;
}

.rotante {
    -webkit-animation: rotar 2s infinite linear;
}

@keyframes rotar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* error 2 */

#seccionEstacionError {
    color: darkorange;
    transition: 0.2s;
}

#secError {
    color: darkorange;
    transition: 0.2s;
    font-size: 150%;
}


/* detalles 1 */

#seccionDetalles1 {
    transition: 0.5s;
    position: absolute;
    left: 72%;
    width: 25%;
    height: 40%;
    background-color: gray;
    text-align: center;
    border-radius: 10px;
    border: 5px solid darkgray;
    padding-top: 0.5%;
    overflow-y: scroll;
}

#seccionCalidad {
    background-color: lightgray;
    font-size: 80%;
    width: 100%;
}

#seccionCalidad tr {
    border-bottom: 1px solid lightseagreen;
}

#seccionCalidad tr td {
    padding: 0% 3%;
    text-align: left;
}

#seccionDetalles1::-webkit-scrollbar {
    height: 15px;
}

#seccionDetalles1::-webkit-scrollbar-track {
    background-color: lightgrey;
}

#seccionDetalles1::-webkit-scrollbar-thumb {
    background-color: rgb(1, 168, 184);
}


/* detalles 2*/

#seccionDetalles2 {
    transition: 0.5s;
    position: absolute;
    left: 72%;
    width: 25%;
    height: 20%;
    top: 55%;
    background-color: gray;
    text-align: center;
    border-radius: 10px;
    border: 5px solid darkgray;
}

#seccionDetalles2 table {
    height: 100%;
    width: 100%;
}

#btnControl {
    color: white;
    transition: 0.2s;
    padding: 10%;
    background-color: grey;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 200%;
}

#btnControl:hover {
    background-color: rgb(1, 168, 184);
}

.parpadeante {
    -webkit-animation: parpadeo 1s infinite alternate-reverse;
}

@keyframes parpadeo {
    from {
        filter: drop-shadow(3px 6px 6px rgba(255, 99, 71, 0));
    }
    to {
        filter: drop-shadow(0px 6px 6px rgba(255, 99, 71, 1));
    }
}

@media only screen and (max-width: 600px) {
    #displayComs {
        height: 45%;
        width: 94%;
        margin: 10% 3% 330px 3%;
    }
    #displayComs tr {
        font-size: 80%;
        padding: 0;
    }
}