/* ZONA IZQUIERDA */

#estacionIzq {
    position: relative;
    width: 33%;
    height: 75%;
    border: 1px solid rgb(1, 168, 184);
    border-radius: 10px;
    left: 2%;
    padding: 1%;
    background-color: rgb(85, 85, 85);
}


/* FOTO E INFO BASICA */

#seccionSup {
    border: 1px solid rgb(1, 168, 184);
    border-radius: 10px;
    width: 100%;
    height: 20%;
}

#seccionFoto {
    float: left;
    width: 40%;
    height: 100%;
    border-right: 1px solid lightgray;
    background-image: url('../logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#seccionInfo {
    float: right;
    width: 60%;
    height: 100%;
    padding: 2.5% 1.5%;
}


/* DISPLAY DE TAGS ANALOGICOS */

#seccionInf {
    border: 1px solid rgb(1, 168, 184);
    border-radius: 10px;
    width: 100%;
    height: 75%;
    margin-top: 5%;
    padding: 5%;
}

.widDigi {
    border-radius: 10px;
    color: rgb(85, 85, 85);
    background-color: lightgray;
    height: 17%;
    padding: 1% 0%;
    width: 100%;
    border: 1px solid rgb(85, 85, 85);
    margin-bottom: 1%;
}

.widDigiIcono {
    height: 100%;
    width: 33%;
    float: right;
    border-left: 1px solid rgb(85, 85, 85);
    text-align: center;
}

.widDigiIcono i {
    margin: 7%;
    font-size: 200%;
}

.widDigiText {
    text-align: center;
    height: 100%;
    width: 33%;
    float: left;
    font-size: 110%;
}


/* ZONA DERECHA CON TAGS VARIOS*/

#estacionDer {
    position: relative;
    width: 59%;
    height: 75%;
    border: 1px solid rgb(1, 168, 184);
    border-radius: 10px;
    bottom: 75%;
    left: 37%;
    background-color: rgb(85, 85, 85);
    padding: 1%;
}


/* WIDGET DE DATOS ANALOGICOS 1 */

.widAna {
    width: 40%;
    height: 17%;
    border: 1px solid rgb(1, 168, 184);
    border-radius: 10px;
}

.widAnaInfo {
    background-color: lightgray;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 40%;
    height: 100%;
    float: left;
    border-right: 1px solid rgb(85, 85, 85);
}

.widAnaInfoPrin {
    width: 50%;
    text-align: center;
    padding: calc(25% - 0.5em) 0%;
    height: 100%;
    float: left;
    border-right: 1px solid rgb(85, 85, 85);
    color: rgb(85, 85, 85);
}

.widAnaInfoSec {
    width: 50%;
    height: 100%;
    padding: 0;
    float: right;
    color: rgb(85, 85, 85);
}

.widAnaInfoSec div {
    height: 50%;
    padding: calc(25% - 0.5em) 0%;
    text-align: center;
}

.widAnaGraf {
    width: 60%;
    height: 100%;
    float: right;
}