#display {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0.5%;
}

#zonaControles {
    height: 80%;
    max-height: 620px;
    transition: 0.2s;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 34.5%;
    margin-left: 0.5%;
    position: relative;
    height: 85%;
    left: 65%;
}

#opcionesTag {
    font-style: normal;
    overflow-y: scroll;
    list-style: none;
    padding-left: 0%;
    height: 20%;
    border: 1px solid black;
    background-color: lightgray;
    color: black
}

#opcionesTag::-webkit-scrollbar {
    height: 15px;
}

#opcionesTag::-webkit-scrollbar-track {
    background-color: rgb(1, 168, 184);
}

#opcionesTag::-webkit-scrollbar-thumb {
    background-color: rgb(39, 45, 79);
}

#formOpciones {
    margin: 2% 2%;
    width: 96%;
    border-radius: 10px;
    padding: 5%;
    color: rgb(56, 56, 56);
    background-color: white;
    height: 94%;
    margin-bottom: 0%;
}

#conMetaTag {
    font-style: normal;
    overflow-y: scroll;
    list-style: none;
    padding-left: 0%;
    height: 20%;
    border: 1px solid black;
    background-color: lightgray;
    color: black
}

#conMetaTag::-webkit-scrollbar {
    height: 15px;
}

#conMetaTag::-webkit-scrollbar-track {
    background-color: rgb(1, 168, 184);
}

#conMetaTag::-webkit-scrollbar-thumb {
    background-color: rgb(39, 45, 79);
}

.listaGrafCustom li {
    text-align: center;
    padding-bottom: 2%;
    border-bottom: 1px solid white;
    font-size: 100%;
    overflow-x: hidden;
    width: 100%;
}

.listaGrafCustom li label {
    box-sizing: none;
    margin: 0%;
}

#conMetaTag li {
    padding-bottom: 2%;
    border-bottom: 1px solid white;
    font-size: 80%;
    overflow-x: hidden;
    width: 100%;
}

#fechaInicio {
    width: 35%;
    margin: 1%;
}

#fechaFin {
    width: 35%;
    margin: 1%;
}

#btnControlCustom {
    margin-right: 2%;
    transition: 0.2s;
    padding: 1% 0%;
    opacity: 80%;
    border-radius: 5px;
    color: white;
    width: 22%;
}

#btnControlCustom:hover {
    opacity: 100%;
}


/* #panelInfo {
    width: 96%;
    height: 12%;
    margin: 2%;
    border: 2px solid darkgray;
    background-color: lightgrey;
    border-radius: 10px;
} */

#panelOpciones {
    width: 96%;
    height: 100%;
    margin: 2%;
    border: 2px solid darkgray;
    background-color: lightgrey;
    border-radius: 10px;
}

.controlSel {
    padding: 1% 2%;
    border-radius: 7px;
    background-color: rgb(56, 56, 56);
    color: white;
    width: 90%;
    margin: 0% 5% 2% 5%;
}

#zonaGraficos {
    padding: 0%;
    width: 65%;
    position: relative;
    height: 80%;
    bottom: 80%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#zonaGraficos::-webkit-scrollbar {
    height: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#zonaGraficos::-webkit-scrollbar-thumb {
    background-color: rgb(1, 168, 184);
}

#grafica {
    transition: 0.5s;
    width: 100%;
    height: 100%;
    padding: 0;
}

#alarmasGraficas {
    width: 99%;
    height: 18%;
    margin: 0.5%;
    border-radius: 10px;
}

#alarmasGraficas table {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

#alarmasGraficas table tr {
    height: 20%;
}

#alarmasGraficas table tr th {
    border-bottom: 1px solid black;
    background-color: rgb(1, 168, 184);
    color: white;
}

#selPresets {
    padding: 0.5% 2%;
    font-size: 80%;
    border-radius: 7px;
    background-color: rgb(56, 56, 56);
    color: white;
    width: 50%;
    float: right
}

#ajustesPresets {
    text-align: center;
    display: none;
    position: absolute;
    width: 25%;
    left: 25%;
    top: 30%;
    background-color: lightgray;
    border: 1px solid gray;
    color: black;
    border-radius: 10px;
    padding: 1em;
}

#txtPresetError {
    color: tomato;
    /* -webkit-animation: parpadeo 1s infinite alternate-reverse; */
}

#ajustesPresets button {
    margin-right: 2%;
    transition: 0.2s;
    padding: 1% 0.5%;
    opacity: 80%;
    border-radius: 5px;
    color: white;
    width: 30%;
}

.btnPresetOk {
    background-color: rgb(1, 168, 184);
    border: 2px solid rgb(39, 45, 79);
}

.btnPresetCancelar {
    background-color: yellowgreen;
    border: 2px solid green;
}

.btnPresetBorrar {
    background-color: tomato;
    border: 2px solid red;
}

#ajustesPresets button:hover {
    opacity: 100%;
}


/* ni caso al error. Funciona estupendamente */

.parpadeante {
    -webkit-animation: parpadeo 1s infinite alternate-reverse;
}

.rotante {
    -webkit-animation: rotar 2s infinite linear;
}

@keyframes rotar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes parpadeo {
    from {
        filter: drop-shadow(3px 6px 6px rgba(255, 99, 71, 0));
    }
    to {
        filter: drop-shadow(0px 6px 6px rgba(255, 99, 71, 1));
    }
}