body {
    /* background: url('Dateando_Fondo_Limpio_Oscuro.png');
    background-size: cover;
    background-attachment: fixed; */
    /* color: white; */
    /* background-size: cover; */
    /* background-attachment: fixed; */
    /* background-image: linear-gradient(to top, rgb(39, 45, 79) 0%, #bac8e0 100%); */
    overflow: hidden;
}

i {
    margin: 0 5px;
}

#contenido {
    color: black;
}

#contenido table {
    color: black
}

.icono {
    background: src('../favicon.ico');
    height: 0.7em;
    width: 1em;
}

.customScroll::-webkit-scrollbar {
    height: 15px;
}

.customScroll::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgb(1, 168, 184);
}

.customScroll::-webkit-scrollbar-thumb {
    background-color: rgb(39, 45, 79);
    border-radius: 5px;
}

#iconoAyuda {
    font-size: 110%;
    transition: 0.2s;
}

#iconoAyuda:hover {
    color: rgb(1, 168, 184);
}

#conAyuda {
    transition: 0.5s;
    z-index: 9999;
    position: fixed;
    top: 10%;
    left: 35%;
    width: 30%;
    padding: 1%;
    background-color: lightgrey;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0%;
}

#btnAyudaNext {
    border: none;
    border-radius: 5px;
}

#btnAyudaNext:hover {
    background-color: rgb(1, 168, 184);
    color: white;
    font-size: 130%;
}

#btnAyudaCerrar {
    float: right;
    color: black;
}

#btnAyudaCerrar:hover {
    color: tomato;
}

#imgAyuda {
    margin: 0% 25%;
    margin-bottom: 2%;
    border-radius: 10px;
    border: 1px solid rgb(1, 168, 184);
}

#usuario {
    color: rgb(1, 168, 184);
    width: 20%;
    margin: 0;
    padding: 5px;
    position: fixed;
    right: -3%;
    top: 0.5%;
}

#seccion {
    color: white;
    position: fixed;
    left: 40%;
    top: 0.1em;
    font-size: 2.5em;
    transition: 1s;
}

#fechahora {
    padding: 5px;
    color: rgb(1, 168, 184);
    position: fixed;
    right: 3%;
    top: 0.5%;
}


/*-------------MENUS DE NAVEGACION------------------*/

#btnLogin {
    width: 80%;
    margin: 0 10%;
    background-color: rgb(56, 56, 56);
    color: white;
    border-radius: 0;
    border: 2px solid rgb(1, 168, 184);
}

#btnLogin:hover {
    background-color: rgb(1, 168, 184);
}

#btnMenuIzq {
    position: fixed;
    visibility: hidden;
    opacity: 33%;
    left: 15%;
    top: 7.6%;
    color: white;
    background-color: rgb(56, 56, 56);
    border-left: 0px;
    border-top: 0px;
    z-index: 9999;
    transition: 0.5s;
    border-radius: 0px;
}

#btnMenuIzq:hover {
    background-color: rgb(1, 168, 184);
    opacity: 100%;
}

#menuIzq {
    /* background-color:rgba(255, 255, 255, 0.1); */
    background-color: rgb(39, 45, 79);
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
    width: 15%;
    height: 100%;
    position: fixed;
    margin-top: 4.5em;
    padding: 0;
    z-index: 1000;
}

#menuIzq::-webkit-scrollbar {
    display: none;
}

#btnDesplegable {
    padding: 1em;
    width: 100%;
    border-radius: 0;
    color: white;
}

#btnDesplegable:hover {
    color: rgb(1, 168, 184);
}


/* control del tiempo */

#conRest:hover {
    color: rgb(1, 168, 184);
}

#amplificador {
    transition: 0.2s;
    width: 80%;
    margin: 0% 10%;
    list-style: none;
    overflow-y: scroll;
    height: 0em;
    text-align: center;
    padding: 0%;
    border: 1px solid white;
    background-color: rgba(50, 50, 50);
}

#amplificador li {
    margin: 0px;
}

.btnTiempo {
    width: 80%;
    margin: 5% 10%;
    border-radius: 7px;
    background-color: rgba(50, 50, 50);
    border: 1px solid rgb(1, 168, 184);
    color: white;
    transition: 0.1s;
    padding: 1%;
}

.btnTiempo:hover {
    background-color: rgb(1, 168, 184);
}

#amplificador::-webkit-scrollbar {
    height: 15px;
}

#amplificador::-webkit-scrollbar-track {
    background-color: rgba(50, 50, 50);
}

#amplificador::-webkit-scrollbar-thumb {
    background-color: rgb(1, 168, 184);
}

.miniEstacion {
    list-style: none;
    border: 1px solid white;
    height: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 80%;
    margin: 0 10%;
    background-color: rgba(50, 50, 50);
    color: white;
    font-size: small;
    transition: 0.5s;
    padding: 0px;
}

.miniEstacion::-webkit-scrollbar {
    height: 15px;
}

.miniEstacion::-webkit-scrollbar-track {
    background-color: rgba(50, 50, 50);
}

.miniEstacion::-webkit-scrollbar-thumb {
    background-color: rgb(1, 168, 184);
}

.miniEstacion li {
    width: 100%;
    margin: 0px;
}

.expPruebas {
    margin: 0;
    transition: 0.5s;
    overflow: hidden;
    height: 0px;
}

#contenido {
    transition: 0.5s;
    padding-left: 5em;
    padding-top: 10%;
    padding-left: calc(15% + 3em);
}

#contenidoMenuIzq2 li form button:hover {
    background-color: rgb(1, 168, 184);
}

#contenidoMenuIzq1:hover {
    background-color: rgb(1, 168, 184);
}


/*  footer sur alarmas */

footer {
    width: 100%;
    height: 10%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

#conPrincipal {
    height: 848px;
    width: 100%;
    border-radius: 10px;
    margin-top: 1%;
}


/* AJUSTES DE SECCION */

#ajustesSeccion {
    width: 70%;
    height: 70%;
    position: fixed;
    left: 15%;
    top: 10%;
    background-color: lightgray;
    z-index: 9999;
    display: none;
    border: 5px solid rgb(56, 56, 56);
    border-radius: 10px;
    color: white;
}

#btnAjustesCerrar {
    float: right;
    transition: 0.1s;
    color: black;
    font-size: 200%;
}

#btnAjustesCerrar:hover {
    color: tomato;
}

#seccionSel {
    width: 30%;
    height: 100%;
    float: left;
    background-color: lightgray;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

#seccionSel ul li {
    background-color: rgb(39, 45, 79);
    width: 100%;
    height: 3em;
    padding: 0.5em;
    /* padding: 0.5em 2em; */
}

#seccionSel ul li:hover {
    background-color: rgb(1, 168, 184);
}

#seccionDisplay {
    width: 70%;
    height: 100%;
    float: right;
    background-color: white;
    color: black;
}

#seccionAjustes {
    padding: 2%;
}

#seccionAjustes form {
    padding: 2% 1%;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

#btnAceptarWidget {
    border: 1px solid whitesmoke;
    background-color: rgb(1, 168, 184);
    border-radius: 10px;
    font-size: 110%;
    color: whitesmoke;
    transition: 0.2s;
}

#btnAceptarWidget:hover {
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
}

#btnCancelarWidget {
    border: 1px solid white;
    margin-left: 2%;
    border-radius: 10px;
    font-size: 110%;
    color: white;
    background-color: tomato;
    transition: 0.2s;
}

#btnCancelarWidget:hover {
    color: black;
    border: 1px solid black;
    background-color: whitesmoke;
}

#ajustesRespuesta {
    background-color: darkseagreen;
    color: rgb(56, 56, 56);
    font-style: bold;
    padding: 2% 1%;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}