#alarmasSur {
    border-top: 5px solid rgb(1, 168, 184);
    position: absolute;
    width: 90%;
    margin: 0px;
    bottom: 0;
    text-align: center;
    transition: 0.5s;
    height: 10%;
}

#alarmasSur tr {
    transition: 2s;
    margin-left: 0.5%;
    height: 50%;
}

#alarmasSur tr :hover {
    padding: 0.1%;
}